* {
    margin: 0;
    padding: 0;
}

.team-body {
    background-color: #d3a4ffad;
}

.banner-img {
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    opacity: 0.5;
    transition: all 700ms;
}

.banner-img:hover {
    opacity: 1;
}

.banner-container {
    position: relative;
    cursor: pointer;
}

.team-badge {
    max-width: 12rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.team-details {
    background-color: #b094ff98;
    box-shadow: 2px 2px 20px #00000052;
}

.team-details-pic {
    width: 100%;
    height: 15rem;
}

.icon {
    height: 20px;
    width: 20px;
}

.description-container {
    font-weight: 500;
}

/* Social Link */
/* 
a.youtube {
    color: #eb3223;
    border-radius: 500px;
} */

a.facebook {
    color: #4968ad;
}

a.twitter {
    color: #49a1eb;
}

a.instagram {
    color: #292626c5;
}
