/**** Footer Style ****/

#footer-section {
    background: #9527ee;
    padding: 15px;
    text-align: center;
    color: #fff;
}

#footer-section a {
    color: yellow;
    transition: all 600ms;
}

#footer-section a:hover {
    color: rgba(250, 4, 217, 0.993);
}

/**** Bootom To Top Button ****/

.bottom-to-top {
    position: fixed;
    bottom: 60px;
    right: 3px;
    background: #a902f7;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    transition: all 500ms;
}

.bottom-to-top:hover {
    background: #780ad3;
    color: #fff;
}